html, body {
    margin: 0;
    padding: 0;
}

body, 
header, 
nav ul, 
li, 
p, 
h1, 
a{
    list-style: none;
    font-size: 1.2rem;
    font-family: 'comic', 'Times New Roman', Times, serif;
}

body {
    height: 100%;
    background-image: linear-gradient(white,#FAF364);
}

@font-face {
    font-family: 'comic';
    src: url(fonts/Fredoka.ttf) format('truetype');
}

@font-face {
    font-family: 'sexo';
    src: url(fonts/JMHTypewriter.otf) format('opentype'),
         url(fonts/JMHTypewriter.ttf) format('truetype');
}

a {
    text-decoration: none;
    color: black;
}

.nav ul {
    display: flex;
}

.nav ul li {
    margin-left: 1em;
}

.nav ul li a {
    padding: 0.4em;
    font-family: 'comic', 'Times New Roman', Times, serif;
}

.nav li a:hover {
    background-color: rgb(255, 247, 107, 0.6);
}

.nav ul {
    margin: 0px;
}

.header {
    background-color: #FCD32B;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    min-height: 100%;
}

.title {
    font-family: 'comic', 'Times New Roman', Times, serif;
    font-size: 1.8em;
    font-weight: 700;
}

.section-sobre {
    display: flex;
    margin: 2% 3%;
    border-bottom: 1px solid black;
    padding-bottom: 4em;
}

.section-sobre img {
    margin-right: 1em;
    height: 800px;
}

.section-sobre-texto {
    margin-top: 2em;
}

.section-sobre-texto h2{
    text-align: center;
    margin-bottom: 1em;
    font-size: 3em;
}

.section-sobre-texto {
    text-align: justify;
}

.section-sobre-texto p {
    margin-bottom: 20px;
}

.sobre-title {
    font-family: "sexo";
    font-size: 2em;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
}

.sobre-desc {
    font-family: "sexo";
    margin-bottom: 30px;
}

.section-videos {
    margin: 5% 3%;

}

.section-videos h3 {
    text-align: center;
    font-size: 2em;
    font-weight: 800;
}

.section-videos-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-videos-content div {
    margin: 0.5em;
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
}

.footer-content {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 0.7em;
    justify-content: space-between;
}

.footer-content div{
    display: flex;
    align-items: center;
}

.footer-content div span{
    font-size: 1.5em;
    margin-left: 1.3em;
}

.footer-redes {
    margin: 0px 0px;
    display: flex;

}

.footer-redes li a{
    padding: 1em;
    display: block;
    margin-right: 20px;
}

.footer-redes li a:hover{
    background-color: rgb(255, 255, 255, 0.6);
}

.imgluva {
    height: 150px;
}

.button-next {
    text-align: end;
    margin: 20px;
}

.button-next a {
    font-size: 1em;
    border: 1px solid black;
    padding: .67em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.button-next a:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

 /* Page 1 */

.section-phrases {
    background-image: url(images/cenario-luva.PNG);
    background-size: cover;
    background-blend-mode: multiply;
    padding: 2em;
}

.phrases-title {
    font-family: "sexo";
    font-size: 2.1em;
    text-align: center;
    font-weight: 1000;
    margin-bottom: 1.2em;
}

.list-phrases {
    font-family: 'comic', 'Times New Roman', Times, serif;
}

.list-phrases li {
    margin-bottom: 1.3em;
    margin-left: 1.5em;
}

.list-phrases li span {
    font-size: 1.4em;
    font-weight: 700;
}

.section-arrobas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
}

.section-luva-allan {
    display: flex;
}

.section-luva-allan div {
    font-family: "sexo";
    font-weight: 600;
}

.section-luva-allan div a:hover{
    border-bottom: 2px solid #000010;
}

.section-luva-allan img {    
    height: 500px;
}

.button-before {
    text-align: left;

}

.button-before {
    font-size: 1em;
}